    
    <header>
        <div class="head-list">
            <a class="home reset-a " href="index.html">ASTERDOTS</a>
            <ul class="elements">
                <li><a class="anchorOne reset-a" href="#us">Nosotros</a></li>
                <li><a class="anchorTwo reset-a " href="#course-section">Curso</a></li>
                <li><a class="anchorThree reset-a" href="#register">Registrate</a></li>
            </ul>
        </div>
    </header>

    <div class="container arrow">
        <img src="images/arrow.png" alt="down-arrow"/>
    </div>

    <!-- <footer class="content"> -->
        <div class="parallax">
            <!-- <img src="./background.png" alt="asterdots_background"> -->
        </div>
        
        <div id="us" class="manual-margin"></div>
        <div class="manual-margin"></div>
        <div class="about">
            <p>¿Qué es Asterdots?</p>
            <div class="img-container">
                <div>
                    <img id="first" src="images/what.png" alt="what?">
                </div>
                 <!-- WHAT? -->
                 <p class="img-description">
                    Buscamos cambiar la forma en
                    la que aprendes, llevando el 
                    conocimiento digital a tí con
                    la misión de transformar la
                    economía del país y del mundo
                </p>
                <div>
                    <img id="second" src="images/why.png" alt="why?">
                </div>  
                <!-- WHY? -->
                <p class="img-description">
                    No solo queremos impulsar el 
                    conocimiento online, si no llevarlo
                    de manera presencial y a partir de 
                    este punto construir el enlace 
                    profesor-alumno y promover el 
                    trabajo en equipo
                </p>
                <div>
                    <img id="third" src="images/when.png" alt="when?">
                </div> 
                 <!-- HOW? -->
                 <p class="img-description">
                    Por este motivo impartirémos 
                    nuestro primer curso presencial
                    en la ciudad de Guanajuato
                    durante el mes de enero e irá 
                    enfocado a todas aquellas 
                    personas interesadas en 
                    introducirse a la programación
                </p> 
            </div>
            <div class="text-container">
                  
            </div>  
  
          <div id="course-section"></div>
        </div>

        <div class="manual-margin"></div>
        <div class="course">
            <p class="subtitle">Introducción al Desarrollo Web</p>
            <div>
                <ul>
                    <li>Aprende HTML</li>
                    <li>Aprende CSS</li>
                    <li>Aprende Diseño Web</li>
                    <li>Descube JavaScript</li>
                    <li>Aprende a Programar</li>
                    <li>Construye tu Proyecto</li>
                </ul>
            </div>
            <a class="reset-a" href="#register"><button>Registrate</button></a>
            <img class="course-section-img" src="images/course.jpg" alt="course">
        </div>

        <div class="manual-margin"></div>
        <div class="manual-margin"></div>
        <div id="course-section" class="course-2">
            <p class="subtitle-2">Introducción a Python</p>
            <p class="coming-soon">🤘 Disponible Próximamente...</p>
            <img class="course-section-img-2" src="images/course_6.jpg" alt="course">
            <div id="register"></div>
        </div>

        <div class="form-container">
            <p class="form-title">¡Registrate a nuestro primer curso! 💻</p>
            <div class="login-page">
                <div class="form"> 
                    <form class="login-form" method="post" action="/registro">
                        <input type="text" name="nombre" placeholder="Nombre Completo"/>
                        <input type="email" name="email" placeholder="Correo"/>
                        <input type="text" name="institucion" placeholder="Institución (Opcional)"/>
                        <button type="submit">Registrarme</button>
                        <p class="message">Muy pronto recibirás un correo de nuestro equipo 😉</p>
                    </form>
                </div>
            </div>
            <div class="manual-margin"></div>
        </div>
       
        <div class="footer">
            <div class="container socials">
                <img class="facebook" src="./images/facebook.png" alt="facebook">
                <img class="youtube" src="./images/youtube.png" alt="youtube">
                <img class="instagram" src="./images/instagram.png" alt="instagram">
            </div>
            <small class="container-fluid">Made with ❤️ and fast as ⚡ at ©AsterDots &nbsp;<span class="year"></span></small>
        </div>
    </div>